@page "/"
@using Chronicis.Client.ViewModels
@inject TreeStateService TreeStateService
@inject ArticleApiService ArticleApiService

<PageTitle>Chronicis</PageTitle>

@if (_selectedArticle != null)
{
    <ArticleDetail />
}
else
{
    <h1>Welcome to Chronicis</h1>
    <p>Select an article from the tree to view it.</p>
}

@code 
{
    private ArticleTreeItemViewModel? _selectedArticle;

    protected override async Task OnInitializedAsync()
    {
        var rootArticles = await ArticleApiService.GetRootArticlesTreeAsync();

        TreeStateService.Initialize(rootArticles);

        TreeStateService.OnStateChanged += OnTreeStateChanged;
    }

    private void OnTreeStateChanged()
    {
        _selectedArticle = TreeStateService.SelectedArticle;
        StateHasChanged();
    }

    public void Dispose()
    {
        TreeStateService.OnStateChanged -= OnTreeStateChanged;
    }
}