# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts must always have Unix line endings
*.sh text eol=lf

# Batch files should have Windows line endings
*.bat text eol=crlf
*.cmd text eol=crlf
